openapi: 3.0.0
info:
  title: Wallet API
  version: '1.0'
  description: 多比API
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/wallet/v1'
    description: Sandbox
  - description: Production
    url: 'https://global-api.lianlianpay.com/wallet/v1'
paths:
  /wallet-withdraws:
    post:
      summary: POST wallet-withdraws
      operationId: post-withdraw
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  withdrawId:
                    type: string
                    description: 提现单号
                required:
                  - withdrawId
        '400':
          description: "错误码\n\ncode\t| message\n-|-\n009006\t| 您有正在受理的提现申请，请稍后再试\n009007\t| 假期期间暂不支持使用\n100003\t| 用户被锁定\n010001\t| 用户校验失败\n010002\t| kyc状态未通过\n010003\t| 用户kyc未审核\n010004\t| 您的企业信息不完整，请联系客服处理\n010005\t| 用户kyc信息不存在\n009014\t| 提现银行卡不符合用户提现规则\n009009\t| 银行卡不存在\n009010\t| 银行卡状态异常\n009011\t| 提现银行卡不支持当前提现币种\n100003\t| 用户被锁定\n009012\t| 该银行卡企业“贸易外汇收支企业名录”状态异常，无法提现至该银行卡\n009013\t| 该银行卡企业未在当地外管局办理名录登记，无法提现至该银行卡\n009014\t| 提现银行卡不符合用户提现规则\n009015\t| 银行分发渠道查询失败\n150003\t| 账户余额查询失败\n150004\t| 账户余额不足\n009016\t| 用户信息风控管理拒绝\n009017\t| 提现金额未达到起提线\n009018\t| 验证码错误\n009019\t| 外部单号重复\n010007\t| 提现银行卡户名与KYC名称不符"
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
            application/xml:
              schema:
                type: object
                properties: {}
      description: 多比提现
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                withdrawCurrency:
                  type: string
                  description: 提现币种
                verificationCode:
                  type: string
                  description: 短信验证码
                bankCardId:
                  type: string
                  description: 银行卡ID
                withdrawAmount:
                  type: string
                  description: 金额
                aimCurrencyCode:
                  type: string
                  description: 目标币种
                externalTransId:
                  type: string
                  description: 第三方单号
                  minLength: 8
                  maxLength: 32
              required:
                - withdrawCurrency
                - verificationCode
                - bankCardId
                - withdrawAmount
                - aimCurrencyCode
                - externalTransId
        description: ''
      tags:
        - wallet
    parameters: []
  '/wallets/currencyCode/{currencyCode}':
    get:
      summary: GET wallets
      tags:
        - wallet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                    description: 余额
                  currencyCode:
                    type: string
                    description: 币种
      operationId: get-currency
      description: 根据多比币种获取余额
      parameters: []
    parameters:
      - schema:
          type: string
        name: currencyCode
        in: path
        required: true
  /wallet-recharges:
    post:
      summary: POST wallet-recharges
      operationId: post-recharge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  rechargeId:
                    type: string
                    description: 充值单号
                required:
                  - rechargeId
              examples: {}
        '400':
          description: "错误码\n\ncode\t| message\n-|-\n009002\t| 您有正在受理的充值申请，请稍后再试\n010001\t| 用户校验失败\n010002\t| kyc状态未通过\n009001\t| 多比查询失败或未开通\n150001\t| 店铺查询失败\n150002\t| 店铺状态异常\n150003\t| 账户余额查询失败\n150004\t| 账户余额不足\n009003\t| 充值币种不统一\n009004\t| 充值原始金额为0\n009019\t| 外部单号重复\n009008\t| 充值平台不统一"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
      description: 多比充值
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rechargeCurrency:
                  type: string
                  description: 充值币种
                rechargeDetailList:
                  type: array
                  description: 明细列表
                  items:
                    $ref: '#/components/schemas/RechargeDetail'
                externalTransId:
                  type: string
                  description: 第三方单号
                  minLength: 8
                  maxLength: 32
              required:
                - rechargeCurrency
                - rechargeDetailList
                - externalTransId
            examples: {}
        description: ''
      tags:
        - wallet
    get:
      summary: GET wallet-recharges
      operationId: get-recharge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: 总数
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        rechargeId:
                          type: string
                          description: 充值单号
                        createTime:
                          type: string
                          description: 创建时间
                        rechargeCurrencyCode:
                          type: string
                          description: 充值币种
                        rechargeAmount:
                          type: string
                          description: 充值金额
                        feeAmount:
                          type: string
                          description: 手续费
                        feeCurrency:
                          type: string
                          description: 手续费币种
                      required:
                        - rechargeId
                        - createTime
                        - rechargeCurrencyCode
                        - rechargeAmount
                        - feeAmount
                        - feeCurrency
                required:
                  - total
                  - list
      description: 多比充值记录
      requestBody:
        description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: currencyCode
          description: 币种
        - schema:
            type: string
          in: query
          name: startTime
          description: 开始时间
          required: true
        - schema:
            type: string
          in: query
          name: endTime
          description: 结束时间
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
          description: 分页大小
          required: true
        - schema:
            type: string
          in: query
          name: pageNum
          description: 页数
          required: true
      tags:
        - wallet
    parameters: []
components:
  schemas:
    RechargeDetail:
      title: RechargeDetail
      type: object
      description: 充值明细
      properties:
        accountId:
          type: string
          description: 账户ID
        amount:
          type: string
          description: 金额
      required:
        - accountId
        - amount
      x-tags:
        - wallet
