openapi: 3.0.0
info:
  title: 多比钱包API
  version: '1.0'
  description: ''
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/collection/v1'
    description: Sandbox
  - description: Production
    url: 'https://global-api.lianlianpay.com/collection/v1'
paths:
  /wallet-withdraws:
    post:
      summary: 多比钱包提现
      operationId: post-withdraw
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: ''
        '400':
          description: "错误码\n\ncode\t| message\n-|-\n009006\t| 您有正在受理的提现申请，请稍后再试\n009007\t| 假期期间暂不支持使用\n100003\t| 用户被锁定\n010001\t| 用户校验失败\n010002\t| kyc状态未通过\n010003\t| 用户kyc未审核\n010004\t| 您的企业信息不完整，请联系客服处理\n010005\t| 用户kyc信息不存在\n009014\t| 提现银行卡不符合用户提现规则\n009009\t| 银行卡不存在\n009010\t| 银行卡状态异常\n009011\t| 提现银行卡不支持当前提现币种\n100003\t| 用户被锁定\n009012\t| 该银行卡企业“贸易外汇收支企业名录”状态异常，无法提现至该银行卡\n009013\t| 该银行卡企业未在当地外管局办理名录登记，无法提现至该银行卡\n009014\t| 提现银行卡不符合用户提现规则\n009015\t| 银行分发渠道查询失败\n150003\t| 账户余额查询失败\n150004\t| 账户余额不足\n009016\t| 用户信息风控管理拒绝\n009017\t| 提现金额未达到起提线\n009018\t| 验证码错误\n009019\t| 外部单号重复\n010007\t| 提现银行卡户名与KYC名称不符"
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
            application/xml:
              schema:
                type: object
                properties: {}
      description: |-
        多比提现接口，提现前需要确认多比钱包账户余额大于提现金额，提现结果异步通知返回或调用方查询确认。

        步骤1：调用获取多比钱包账号余额信息接口确定余额。

        步骤2：调用获取短信验证码接口获取验证码。

        步骤3：调用该提现接口。

        步骤3：WebHook结果通知，事件名称：WITHDRAW_EVENT_RESPONSE。
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: 提现币种
                verificationCode:
                  type: string
                  description: 短信验证码
                bankAccountId:
                  type: string
                  description: 提现银行账号ID
                withdrawAmount:
                  type: string
                  description: 金额
                targetCurrency:
                  type: string
                  description: 目标币种
                externalTransId:
                  type: string
                  description: 第三方单号
                  minLength: 8
                  maxLength: 32
              required:
                - currency
                - verificationCode
                - bankAccountId
                - withdrawAmount
                - targetCurrency
                - externalTransId
        description: ''
      tags:
        - 多比钱包API
    parameters: []
  '/wallets/currency/{currency}':
    get:
      summary: 获取多比钱包账号余额信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                    description: 可用余额
                  currency:
                    type: string
                    description: 币种
                  status:
                    description: |-
                      状态

                      id|message
                      -|-
                      1|正常
                      2|冻结
                      3|挂失
                      4|注销
                      5|已迁移
                    type: integer
                  createTime:
                    type: string
                    description: 创建时间
                  avaExchangeBalance:
                    type: string
                    description: 可汇兑余额
                required:
                  - balance
                  - currency
                  - status
                  - createTime
                  - avaExchangeBalance
      operationId: get-currency
      description: 获取指定币种多比钱包信息以及余额。
      parameters: []
      tags:
        - 多比钱包API
    parameters:
      - schema:
          type: string
        name: currency
        in: path
        required: true
  /wallet-recharges:
    post:
      summary: 多比钱包转入
      operationId: post-recharge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: ''
              examples: {}
        '400':
          description: "错误码\n\ncode\t| message\n-|-\n009002\t| 您有正在受理的充值申请，请稍后再试\n010001\t| 用户校验失败\n010002\t| kyc状态未通过\n009001\t| 多比查询失败或未开通\n150001\t| 店铺查询失败\n150002\t| 店铺状态异常\n150003\t| 账户余额查询失败\n150004\t| 账户余额不足\n009003\t| 充值币种不统一\n009004\t| 充值原始金额为0\n009019\t| 外部单号重复\n009008\t| 充值平台不统一"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
      description: 将一个或多个同平台店铺收款账号的钱转入多比用于汇兑或付款，转入前需要确认店铺收款账号余额大于转入金额。
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: 充值币种
                rechargeDetailList:
                  type: array
                  description: 明细列表
                  items:
                    $ref: '#/components/schemas/RechargeDetail'
                externalTransId:
                  type: string
                  description: 第三方单号
                  minLength: 8
                  maxLength: 32
              required:
                - currency
                - rechargeDetailList
                - externalTransId
            examples: {}
        description: ''
      tags:
        - 多比钱包API
    get:
      summary: 获取多比钱包转入记录
      operationId: get-recharge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: string
                    description: 总数
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        createTime:
                          type: string
                          description: 创建时间
                        currency:
                          type: string
                          description: 充值币种
                        rechargeAmount:
                          type: string
                          description: 充值金额
                        feeAmount:
                          type: string
                          description: 手续费
                        rechargeDetailList:
                          type: array
                          description: 明细
                          items:
                            $ref: '#/components/schemas/RechargeDetail'
                        externalTransId:
                          type: string
                          description: 第三方单号
                        status:
                          type: integer
                          description: "状态 \n\nid|message\n-|-\n1|转入中\n2|转入成功"
                      required:
                        - createTime
                        - currency
                        - rechargeAmount
                        - feeAmount
                        - rechargeDetailList
                        - externalTransId
                        - status
                required:
                  - total
                  - list
      description: 多比钱包转入列表查询，可以按币种进行查询，结果按创建时间排序。
      requestBody:
        description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: currency
          description: 币种
        - schema:
            type: string
          in: query
          name: startTime
          description: 开始时间
          required: true
        - schema:
            type: string
          in: query
          name: endTime
          description: 结束时间
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
          description: 分页大小
          required: true
        - schema:
            type: string
          in: query
          name: pageNum
          description: 页数
          required: true
        - schema:
            type: string
          in: query
          name: externalTransId
          description: 第三方单号
      tags:
        - 多比钱包API
    parameters: []
components:
  schemas:
    RechargeDetail:
      title: 充值明细对象
      type: object
      description: ''
      properties:
        shopAccountId:
          type: string
          description: 店铺账号ID
        amount:
          type: string
          description: 金额
      required:
        - shopAccountId
        - amount
      x-tags:
        - MODELS
